.navbar-nav .nav-item .nav-link{
color:black;
}
.navbar-nav .nav-item .nav-link.active{
  color:rgb(255, 208, 0) ;
}
.navbar-nav .nav-item .nav-link:hover{
  color:rgb(252, 225, 107) ;
  transform: translateY(-5px);
}
h1 span{
  text-shadow: -2px -2px rgb(114, 114, 114);
}

h1 i{
  text-shadow: -1px -1px rgb(114, 114, 114);
}
#Home{
  background: linear-gradient(to left,rgba(90, 0, 246, 0.6),rgba(251, 255, 0, 0.6)),url(images/around.png);
  background-size: cover;
background-repeat: no-repeat;
background-position: center;

  height: 700px;
  width: 100%;
}
.Gallary{
border: 3px rgb(226, 158, 33) solid;
}
.Gallary:hover{
  transform: translateY(-10px);
  }

  
